#cow last session config
#Wed Oct 02 15:10:07 CEST 2013
champion9=Frank's CrazyTom
champion8=Jan's FriendlyPirates
planetsperplayer=10
champion7=Robert's AttackLargestPlayer
matches=20
champion6=Frank's Alai
champion5=Peter's ViralForces
champion4=Frank's Bean
champion3=Martin's Cratters
champion2=B's B05_PowersOf2
universesizefactor=1.0
champion1=B's B07_Worm
champion19=B's B11_Cells
champion18=B's B12_Rabbit
champion17=Peter's DumbVirus
champion16=Theo's SpaceMenace
champion15=Frank's Jane
champion14=Theo's HelloWorld
y=-8
champion13=Frank's HanTzu
x=-8
champion12=Frank's Petra
champion11=Robert's FastExpand
champion10=Robert's Defender
height=744
width=1378
champion28=B's B00_Idle
champion27=B's B01_ChaseMe
champion26=B's B08_CloseBond
champion25=B's B02_Wave
champion24=B's B09_NewLeader
champion23=B's B03_BigGun
champion22=B's B10_Front
champion21=B's B04_Random
champion20=B's B06_Sniper
